<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="x-UA-compatible" content="IE=edge">
        <meta name="robots" content="valores">
        <link rel="canonical" href="url">
        <!-- Título del la página -->
        <title>Presupuesto - Alimentación Rubio</title>
        <!-- Favicon -->
        <link rel="shortcut icon" type="imagen/x-icon" href="../favicon.png">
         <!-- Declaración de fichero de estilos -->
         <link rel="stylesheet" href="../css/estilos.css">

    </head>
    <body>
        <!-- Barra de navegación -->
        <header>
            <nav class="menuprincipal">
                <div>
                    <img class="logo" src="../assets/img/logor.png" width="1024" height="1024" alt="Logo de Alimentación Rubio">
                </div>
                <!-- Botón hamburguesa (oculto en pantallas grandes)-->
                <input type="checkbox" class="check-menu" id="check-menu">
                <!-- Enlces de navegación -->                
                    <ul class="lista-menu">
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="productos.html">Productos</a></li>
                        <li><a href="presupuesto.html" class="activo">Presupuesto</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                    </ul>
                    <!--menú hamburguesa para cuando se este navegando en movil -->
                    <label for="check-menu" class="label-check">
                        <span class="menu-hamburguesa">
                            <em class="linea"></em>
                            <em class="linea"></em>
                            <em class="linea"></em>
                        </span>
                    </label>
            </nav>
        </header>
        <!-- Contenido -->
        <main>
            <div class="container-formuario"> 
                <form id="contactForm" onsubmit="return validarFormulario()">
                    <!-- Sección  datos de contacto -->
                   <div class="form-section">
                       <h2>Datos de Contacto</h2>
                       <label for="nombre">Nombre:</label>
                       <input type="text" id="nombre" name="nombre" maxlength="15" placeholder="Escribe tu nombre">
                       <div class="error" id="nombreError">Sólo letras, máximo 15 cracteres</div>

                       <label for="apellidos">Apellidos</label>
                       <input type="text" id="apellidos" name="apellidos" maxlength="40" placeholder="Escribe tus apellidos">
                       <div class="error" id="apellidosError">Sólo letras, máximo 40 caracteres</div>

                       <label for="telefono">Telefono:</label>
                       <input type="tel" id="telefono" name="telefono" maxlength="9" placeholder="Escribe su número de contacto">
                       <div class="error" id="telefonoError">Sólo números, 9 dígitos</div>

                       <label for="email">Correo electrónico</label>
                       <input type="email" id="email" name="email" placeholder="Escribe tu correo electrónico">
                       <div class="error" id="emailError">Formato de eamil inválido</div>
                   </div>
                    <!-- Sección presupuesto -->
                   <div class="form-section">
                       <h2>Presupuesto</h2>
                       <label for="producto">Producto:</label>
                       <select id="producto" name="producto" >
                           <option value="" disabled selected>Seleccione un producto</option>
                           <option value="120">Parrillada Familiar - 120€</option>
                           <option value="180">Caja de Carne Premium - 180€</option>
                           <option value="30">Costillas BBQ - 30€</option>
                           <option value="150">Caja de Carnes Selectas - 150€</option>
                           <option value="250">Pack Gourmet Premium - 250€</option>
                           <option value="219">Jamon De Bellota 100% Iberico - 219€</option>
                           <option value="159">Pack Pasión Carnívora - 159€</option>
                           <option value="72">Pack Familia - 72€</option>
                       </select>
   
                       <label for="plazo">Plazo de entrega (dia):</label>
                       <input type="number" id="plazo" name="plazo" min="1" max="90" value="15" required>
   
                       <label>Extras:</label>
                       <div class="checkbox-group">
                           <div class="checkbox-item">
                               <input type="checkbox" id="extra1" name="extras" value="20">
                               <label for="extra1" style="display: inline;font-weight: normal;">Envasado al vacío (+20€)</label>
                           </div>
                           <div class="checkbox-item">
                               <input type="checkbox" id="extra2" name="extras" value="15">
                               <label for="extra2" style="display: inline;font-weight: normal;">Caja regalo (+15€)</label>
                           </div>
                           <div class="checkbox-item">
                               <input type="checkbox" id="extra3" name="extras" value="30">
                               <label for="extra3" style="display: inline;font-weight: normal;">Salsa artesanales (+30€)</label>
                           </div>
                       </div>
   
                       <div id="presupuestoTotal">Presupuesto: 0€</div>
                          
                       <div class="checkbox-item">
                           <input type="checkbox" id="condiciones" name="condiciones" required>
                           <label for="condiciones" style="display: inline;font-weight: normal;">Acepto las condiciones de privacidad</label>
                       </div>
   
                       <button  type="submit" id="enviarPresupuesto">Enviar Presupuesto</button>
                       <button  type="reset" id="resetForm">Reiniciar</button>
                   </div>
               </form>  
            </div>      
        </main>
        <!-- Pie de página, acceso a redes sociales, aviso legal -->
        <footer id="pielogo">
            <div>
                <section class="seccionpie">
                    <h1><img class="logo1" src="../assets/img/redsocial.png" width="512" height="512" alt="logo red social">Redes Sociales:</h1>
                    <div id="redes">
                        <a href="https://www.tiktok.com/" target="_blank"><img class="logo1" src="../assets/img/tiktok-logo.png" width="225" height="225" alt="logo tiktok"></a>
                        <a href="https://www.x.com/" target="_blank"><img class="logo1" src="../assets/img/logox.png" width="284" height="177" alt="logo x"></a>
                        <a href="https://www.facebook.com/" target="_blank"><img class="logo1" src="../assets/img/fblogo.png" width="360" height="360" alt="logo facebook"></a>
                        <a href="https://www.gmail.com/" target="_blank"><img class="logo1" src="../assets/img/gmail-logo.png" width="200" height="200" alt="logo gmail"></a>
                        <a href="https://www.instagram.com/" target="_blank"><img class="logo1" src="../assets/img/logoInstagram.png" width="360" height="360" alt="logo instagram"></a>
                        <a href="https://www.whatsapp.com/" target="_blank"><img class="logo1" src="../assets/img/logoWhatsApp.png" width="640" height="640" alt="logo whatsapp"></a>
                    </div>
                </section>
                <section class="seccionpie">
                    <h1 id="h1">Alimentación Rubio:</h1>
                    <div class="dinalogo">
                        <p><a href="contacto.html"><img class="logor" src="../assets/img/logor.png" width="320" height="306" alt="Logo Alimentación Rubio"></a></p>
                    </div>     
                </section>
                <aside class="seccionpie">
                    <address>Calle: Alcalde Luis Torrejón,4, 28990, Torrejón de Velasco,(Comunidad Madrid, España)</address>
                    <small>&Copy; Derechos Reservados 2025</small>
                </aside>
            </div>
        </footer>

        <script src="../js/presupuesto.js"></script>
    
    </body>
</html>
